{% block content %}
    <h2>Listings</h2>

    <table class="table">
        <thread>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Description</th>
                <th>Date</th>
                <th>Condition</th>
                <th>Category</th>
                <th>Images</th>
            </tr>
        </thread>
        <tbody>
            {% for listing in listings %}
            <tr>
                <td> {{ listing.title }} </td>
                <td> {{ listing.price }}</td>
                <td> {{ listing.description }} </td>
                <td> {{ listing.date}} </td>
                <td> {{ listing.condition }}</td>
                <td> {{ listing.category }}</td>
                <td> {{ listing.image }} </td>
            </tr>
        </tbody>
    </table>

{% endblock %}