<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Loxodanta</title>
</head>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body style="background-color: #F2F2F2">
  <header class="masthead mb-auto">
    <div class="navigation-bar" style="background-color: #343A40;">
      <h3 align="center"> 
        <a class="masthead-brand static-top justify-content-center" href="{% url 'home' %}" style="color:white">
          <img src="/media/image_folder/logo subtitle.png" width="300" height="120" alt=""> </a>
      </h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="{% url 'home' %}" style="color:white">Home</a>
        <a class="nav-link" href="{% url 'createListing' %}" style="color:#5FBEC1">Create New Listing</a>
        <a class="nav-link" href="{% url 'listings' %}" style="color:white">Listings</a>
        <a class="nav-link" href="{% url 'profile' %}" style="color:white">Profile</a>                
        <a class="nav-link" href="{% url 'logout' %}" style="color:white">Logout</a>
      </nav>
    </div>
  </header>

        <!--Styling to handle mobile screen size-->
        <style>
          #form {
              margin-right:28%;
              margin-left:28%
          }
          @media only screen and (max-width:900px) {
              #form {
                  margin-right: 3%;
                  margin-left: 3%;
              }
          }
      </style>
  
      <div id='form' class="d-flex flex-column justify-content-center" 
          style="
              background-color: #F5F5F5;
              border-radius: 50px;
              box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.2);
              margin-top: 100px;
              margin-bottom: 50px;
              padding-top:50px;
              padding-right: 50px;
              padding-left: 50px;"
      >
  
      <h1 style="font-size:32px; text-align:center;">Create a New Listing</h1>
      <p style="text-align:center">Please ensure you have read the listing guidelines.</p>
      <form enctype="multipart/form-data" action="{% url 'createListing' %}" id="isting-form" method="post" role="form">
        {% csrf_token %}
        {{ form.status }}
        {% for field in form.visible_fields %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.label }}" style="font-weight: bold" class="control-label">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
              <span class="help-block">{{ field.help_text }}</span>
            {% endif %}
            {% for error in field.errors %}
              <label class="control-label">{{ error }}</label>
            {% endfor %}
          </div>
        {% endfor %}
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <button type="submit" class="btn btn-success btn-lg create">Create</button>
            </div>
          </div>
        </div>


        <div class="container">
          <div class="row">
            <div class="col text-center" style="padding-top: 20px">
              <a href="{% url 'home' %}" role="button" class="btn btn-danger btn-sm btn-outline-dark">Cancel</a>
            </div>
          </div>
        </div>
      </form>
    </div>
</body>


<footer class="footer bg-dark" style="position:relative; clear:both; width:100%; height: 2.5rem;box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.2);">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 text-center text-lg-left my-auto">
            <p class="text-muted mb-4 mb-lg-0">© CS3240 - Loxodanta 2019</p>
          </div>
      </div>
  </div>
</footer>

</html>