<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'craigslistclone/style.css' %}">

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Loxodonta</title>

</head>


<!-- Directly below is what is loaded when a user is authenticated - following the "else" is what is loaded when a user is not authenticated -->

<!-- if statement here -->

    <nav class="navbar navbar-expand-lg navbar-info bg-info">
        <div class="container">
    
            <a class="navbar-brand">Loxodonta</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

                <div class="navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="#listings">View Listings</a></li>
                        <li class="nav-item"><a class="nav-link" href="#profile">Your Profile</a></li>
                    </ul>
        
                </div>

        </div>
    </nav>

    <!-- PAGE CONTENT -->
    <body>
        {% csrf_token %}
    
        <div class="container">
            <div class="page-header">
                <h4>UVA Craigslist</h4>
            </div>
        </div>
    
        <div class='container'>
            <p>Logged in as {{ user.username }}</p>
        </div>
    </body>
    
    
    <!-- FOOTER -->
    <footer id="footer" class="py-4 bg-info text-dark-50">
        <div class="container text-center">
            <small>Copyright &copy; UVA Craigslist </small>
        </div>
    </footer>




<!-- else here -->

    <!-- <nav class="navbar navbar-expand-lg navbar-info bg-info">
        <div class="container">
    
            <a class="navbar-brand">Loxodonta</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}">Login with Netbadge</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav> -->


    <!-- PAGE CONTENT -->
    <!-- <body>
        {% csrf_token %}
    
        <div class="container">
            <div class="page-header">
                <h4>UVA Craigslist</h4>
            </div>
        </div>

    </body> -->
        
        
        <!-- FOOTER -->
        <!-- <footer id="footer" class="py-4 bg-info text-dark-50">
            <div class="container text-center">
                <small>Copyright &copy; UVA Craigslist </small>
            </div>
        </footer> -->

<!-- endif here -->


</html>




<!-- THIS FOLLOWING TAG MOVES SHIT OVER TO THE RIGHT OF THE NAVBAR: <ul class="navbar-nav ml-auto"> -->