<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <title>Loxodanta: UVA Marketplace</title>
</head>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<body style="background-color: #F2F2F2">
    {% csrf_token %}
    <header class="masthead mb-auto">
        <div class="navigation-bar" style="background-color: #343A40;">
            <h3 align="center"> 
                <a class="masthead-brand static-top justify-content-center" href="{% url 'home' %}" style="color:white">
                    <img src="/media/image_folder/logo2.png" width="300" height="120" alt=""> 
                </a>
            </h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="{% url 'home' %}" style="color:white">Home</a>
                <a class="nav-link" href="{% url 'createListing' %}" style="color:white">Create New Listing</a>
                <a class="nav-link" href="{% url 'listings' %}" style="color:white">Listings</a>
                <a class="nav-link" href="{% url 'profile' %}" style="color:white">Profile</a>                
                <a class="nav-link" href="{% url 'logout' %}" style="color:white">Logout</a>
            </nav>
        </div>
      </header>


    <section class="testimonials" id="gobottom>
        <div class="container">
            <div class="row"  style="padding-top: 50px; padding-bottom: 50px">
                <div class="col-md-12">
                    <div class="col-md-8 mx-auto">
                        <h3 class="text-center font-weight-bold">UVA Marketplace<span class="bg-main"></span></h3>
                        <p class="text-center" style="font-weight: bold">You are logged in as {{ user.username }}</p>
                        <p class="text-center">Say Goodbye to Craigslist and Hello to the new online marketplace, Loxodonta. This is a marketplace for students at the University of Virginia to buy and sell all sorts of items from clothes to textbooks to furniture. Click "Create New Listing" to sell an item or "Listings" to start browsing!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h3 class="text-center font-weight-bold"><span class="bg-main"></span>Guidelines</h3>
                    <p style="text-align: center">Here are some posting guidelines to help you get started</p>
                    <div class="guidelines" style="margin: 0 auto;">
                        <ul style="list-style-type:circle; margin: 0 auto">
                            <li>Be sure to take a high quality picture of your item</li>
                            <li>Add a detailed description with alternate contact info. We'll provide your student email but feel free to enter another point of contact</li>
                            <li>Pick a category and an accurate condition of your item</li>
                            <li>You're ready to start selling!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <section class="testimonials" id="instructions" style="border: 30px white" >
        <div class="container" style="padding-top: 25px; padding-bottom: 25px">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                    <div class="card" style="box-shadow: 0px 2px 20px 1px rgba(34, 30, 30, 0.2); border-radius:5px">
                        <img style="height: 200px" class="card-img-top h-262" src="https://www.gap.com/Asset_Archive/GPWeb/content/0017/460/079/assets/VCN_PZ/women/04_G26802_HPCatVCN_tshirts.jpg">
                        <div class="card-block">
                            <h4 class="card-title" style="text-align: center">Clothes</h4>
                        </div>
                        <!--<div class="card-footer">
                            <small></small>
                            <a href="#" class="pull-right">More Info</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                    <div class="card" style="box-shadow: 0px 2px 20px 1px rgba(34, 30, 30, 0.2); border-radius:5px">
                        <img style="height: 200px" class="card-img-top h-262" src="https://www.qualtrics.com/m/assets/blog/wp-content/uploads/2018/08/shutterstock_1068141515.jpg">
                        <div class="card-block">
                            <h4 class="card-title" style="text-align: center">Books</h4>        
                        </div>
                        <!--<div class="card-footer">
                            <a href="#" class="pull-right">More Info</a>
                        </div>-->
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                    <div class="card" style="box-shadow: 0px 2px 20px 1px rgba(34, 30, 30, 0.2); border-radius:5px">
                        <img style="height: 200px" class="card-img-top h-262" src="https://ak1.ostkcdn.com/img/mxc/09102019_FALL_Furniture_a_PopCat_4_DiningRoom.jpg?imwidth=320&impolicy=medium">
                        <div class="card-block">
                            <h4 class="card-title" style="text-align: center">Furniture</h4>
                        </div>
                        <!--<div class="card-footer">
                            <a href="#" class="pull-right">More Info</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials text-center ">
        <div class="container" style="padding-top: 25px; padding-bottom: 50px">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h3 class="text-center font-weight-bold">Who Are We?<span class="bg-main"></span> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-6 mt-4">
                    <div class="big-img-3">
                        <img style="box-shadow: 0px 2px 20px 1px rgba(34, 30, 30, 0.2); border-radius:5px" src="http://blog.humanesociety.org/wp-content/uploads/2019/02/ELEPHANTS-K6C5EP_401765-1-1220x813.jpg" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-6 mt-4">
                    <div class="my-right-text">

                        <p class="text-justify font-italic">Originally Team E, since we aren't exactly a creative lot, we choose an animal that started with the letter E as our team name. 
                            Somehow though, "Elephants" just seemed bogus and boring. So to pretend we're interesting people, we chose Loxodonta, the Latin word for elephant. </p>

                        <p class="text-muted">CS 3240 Fall 2019</p>
                        <p class="text-muted">Loxodanta Team</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


   <!-- FOOTER -->
    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left my-auto">
                    <p class="text-muted mb-4 mb-lg-0">© CS3240 - Loxodanta 2019</p>
                </div>
            </div>
        </div>
    </footer>
    </body>
