<html>

    <head>
        <title>Loxodanta</title>
    </head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">





<body style="background-color: #F2F2F2;">
    {% csrf_token %}
    <header class="masthead mb-auto">
        <div class="navigation-bar" style="background-color: #343A40;">
            <h3 align="center"> 
                <a class="masthead-brand static-top justify-content-center" href="{% url 'home' %}" style="color:white">
                    <img src="/media/image_folder/logo.png" width="300" height="120" alt=""> 
                </a>
            </h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="{% url 'home' %}" style="color:white">Home</a>
                <a class="nav-link" href="{% url 'createListing' %}" style="color:white">Create New Listing</a>
                <a class="nav-link" href="{% url 'listings' %}" style="color:white">Listings</a>
                <a class="nav-link " href="{% url 'profile' %}" style="color:#5FBEC1">Profile</a>                
                <a class="nav-link" href="{% url 'logout' %}" style="color:white">Logout</a>
            </nav>
        </div>
    </header>

    <section>
        <div class="profileContainer" style="
            background-color:#F5F5F5;
            border-radius:50px;
            box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.2);
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
            justify-content:center;
            width: 600px;
            margin:25px auto;">
            <h1 style="text-align: center; font-size:32px; margin-top:30px; padding-top: 20px;">My Profile</h1>
            <div class="row">
<!--                 <div class="img" style="padding-top: 5px; padding-bottom: 10px; margin: 0 auto">
                    <img class="profileImage" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div> -->
                <div class="profileInfo" style = "font-size: 20px; margin-right: 20px;">
                    <label style="font-weight:bold">Username: </label> {{ user.username }} <br>
                    <label style="font-weight:bold">First Name: </label> {{ user.first_name }} <br>
                    <label style="font-weight:bold">Last Name: </label> {{ user.last_name }} <br>
                    <label style="font-weight:bold">Email: </label> {{ user.email }} <br>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class= "lists">
            <h1 style="text-align: center; font-size:32px;">My Listings</h1>
                {% if latest_post_list %}
                <div class="row" style="margin-right: 10%; margin-left: 10%">
                    {% for listing in latest_post_list %}
                    
                    <!--
                        <div class = "column">
                            {% if listing.image %}
                                <img src="{{ listing.image.url }}" style="height:350; width:350" alt="{{ listing.name }}">
                            {% endif %}
                            <h2> {{ listing.name }} -  ${{ listing.price }} </h2>
                            <button id="myBtn">More Information</button>
                    -->
                    <div class = "column" style=
                            "background-color:#F5F5F5;
                            border-radius:50px;
                            box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.2);
                            padding-left: 50px;
                            padding-right: 50px;
                            padding-top: 50px;
                            justify-content:center;
                            width: 400px;
                            margin:25px auto">
                            <h2>{{ listing.title }}</h2>
                            <img src="{{ listing.image.url }}" style="height:300px; width:300px" alt="{{ listing.name }}">
                            <h3> ${{ listing.price }} </h3>

                            <p style="font-weight:bold; margin:0px; padding:0px;">Category: {{ listing.get_category_display }}</p>
                            <p style="font-weight:bold">Condition: {{ listing.get_condition_display }}</p> 
                            <p style="word-break: break-all;">{{ listing.description }}</p>

                            
                            <form action="{% url 'mark_sold' listing.id %}" method="post">
                                {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-info btn-sm" style="margin-top: 10px; margin-left: 85px;">Mark Listing Sold</button>
                            </form>
                            
                            <form action="{% url 'delete_post' listing.id %}" method="post">
                                {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger btn-sm" style="margin-bottom: 15px; margin-left: 85px;">Delete this Listing</button>
                            </form>

                        </div>
                    {% endfor %}
                    
                </div>
            {% else %}
                <p style="text-align: center">You have not made any posts yet</p>
            {% endif %}
        </div>
    </section>




    <!-- FOOTER
    <footer class="footer bg-dark" style="position:absolute; width:100%; height: 2.5rem;bottom:0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left my-auto">
                    <p class="text-muted mb-4 mb-lg-0">© CS3240 - Loxodante 2019</p>
                </div>
            </div>
        </div>
    </footer> -->
</body>

</html>
