<html>

    <head>
        <title>Loxodanta</title>
    </head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">





<body>
    {% csrf_token %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Loxodonta</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                <span class="sr-only">(current)</span>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'createListing' %}">Create New Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listings' %}">Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>



    <header class="masthead text-white ">
            <div class="overlay"></div>
            <div class="container slider-top-text">
                <div class="row">
                    <div class="col-md-12 text-center mt-5">
                        <p></p>
                    </div>
                </div>
            </div>
        </header>

    <section>
        <div class="profileContainer">
            <div class="row">
              <div class="col-md-6 img">
                <img class="profileImage" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"  style="margin-left: 500px">
              </div>
              <div class="profileInfo" style = "font-size: 20px; margin-right: 20px;">
                    <label>Username: </label> {{ user.username }} <br>
                    <label>First Name: </label> {{ user.first_name }} <br>
                    <label>Last Name: </label> {{ user.last_name }} <br>
                    <label>Email: </label>{{user.email}} <br>
              </div>
            </div>
          </div>
    </section>


    <section>
        <div class= "lists">
            <h1>All Listings:</h1>
            {% if latest_post_list %}
                <div class="row">
                    {% for listing in latest_post_list %}

                        <div class = "column">
                            {% if listing.image %}
                                <img src="{{ listing.image.url }}" style="height:350; width:350" alt="{{ listing.name }}">
                            {% endif %}
                            <h2> {{ listing.name }} -  ${{ listing.price }} </h2>
                            <button id="myBtn">More Information</button>
    
                            <div id="myModal" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <h2> {{ listing.name }} -  ${{ listing.price }} </h2>
                                    <h5> {{ listing.condition }}, {{ listing.category }} </h5>
                                    <p>{{ listing.description }}</p>
                                </div>    
                            </div>

                            <p>POSTED BY: {{ listing.associated_username }}</p>
                            <p>YOU'RE LOGGED IN AS: {{ user.username }}</p>
                            
                            <button><a href="{% url 'delete_post' %}">Remove Listing</a></button>

                        </div>
                    {% endfor %}
                    
                </div>
            {% else %}
                <p>You have not made any posts yet</p>
            {% endif %}
        </div>
    </section>




    <!-- FOOTER -->
    <footer class="footer bg-dark" style="position:absolute; width:100%; height: 2.5rem;bottom:0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left my-auto">
                    <p class="text-muted mb-4 mb-lg-0">© CS3240 - Loxodante 2019</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>