<html>

    <head>
        <title>Loxodanta</title>
    </head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<body>
    {% csrf_token %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Loxodonta</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                <span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'createListing' %}">Create Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listings' %}">Listings</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>



    <header class="masthead text-white ">
            <div class="overlay"></div>
            <div class="container slider-top-text">
                <div class="row">
                    <div class="col-md-12 text-center mt-5">
                        <p></p>
                    </div>
                </div>
            </div>
        </header>

    <section>
        <div>
            {{ user.username }}
        </div>
        
        <div>
            {{ user.first_name }}
        </div>
        
        <div>
            {{ user.last_name }}
        </div>

        <div>
            {{ user.email }}
        </div>
    </section>

    </body>

</html>